.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    border-radius: 10px;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.card-container img {
    height: 150px;
    width: 100%;
    display: flex;
        justify-content: center;
        overflow: hidden;
        object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.img-player {
    width: 100%;
}

.card-container h3 {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card-container p {
    padding: 5px;
    font-size: 14px;
}

h1 {
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
    font-style: inherit;
    margin-left: 50px;
    margin-top: 20px;
}

.nations-container {
    display: flex;
    flex-direction: row;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes card-hover {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }

    100% {
        transform: scale(1.05);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
}

.header-football {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-logo {
    display: inline-block;
    padding: 0 15px;
}

.img-logo {
    width: 100%;
    height: 100px;
    margin-top: 60px;
}

.container-header {
    background-color: #000;
    height: 67px;
}

.nav-link-wc {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
}

.nav-link-wc:hover {
    background-color: #56042C;
}

.active-link {
    background-color: #56042C;
}

.container-home {
    position: relative;
    top: 67px;
    margin-bottom: 100px;
    min-height: 100%;
}

/* Banner */
.banner {
    min-height: 700px;
    position: relative;
    margin-top: 30px;
}

.carousel-container-item {
    display: flex;
    flex-direction: column;
}

.carousel-caption h1 {
    color: #fff;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 600;
    font-size: large;
}

/* Subanner */
.sub-main-banner {
    padding-top: 0;
}

.sub-banner {
    background: #071f40 url('/images/qatar_cup_02.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    display: grid;
    align-content: center;
    justify-content: flex-end;
}

.sub-banner h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    margin-right: 200px;
}

/* Body player detail */
.player-details-div-total figure {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    overflow: hidden;
    object-fit: contain;
}

.player-details-div span {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #ee1d36;
}

.common-heading {
    font-weight: 600;
    color: #071f40;
    font-size: 35px;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.list-unstyled>li>span {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.list-unstyled .information {
    color: #56042C;
    font-weight: 600;
}

.captain-icon {
    height: 24px;
    width: 24px;
}

.player-description {
    color: #56042c;
    font-size: 18px;
}